<p>employee-dashboard works!</p>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
	
<input type="checkbox" id="checkbox">

<header class="header">
	<h2 class="u-name">
		<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
		Supermarket Billing <b>Management</b>
	</h2>
	<i class="fa fa-user-o" aria-hidden="true"></i>
</header>

<div class="body">
	<nav class="side-bar">
		<div class="user-p">
			<img src="../../../assets/cashier.jpg">
			<h4>Hello Employee</h4>
		</div>
		<ul>
			<li>
				<a href="#">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-user-circle"></i>
					<span>Add Customer</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-users"></i>
					<span>Generate Bill</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-window-restore"></i>
					<span>View Inventory</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-area-chart"></i>
					<span>View Orders</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-power-off" aria-hidden="true"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</nav> 
	<section class="cards">
		<app-employee-cards></app-employee-cards>

		<h1>WELCOME</h1>
		<p style="text-align: center;">#divyansh_projects</p>
		<div class="container">
			<div class="row">
				<div class="panel panel-primary col-md-5" style="margin-left:2%;">
				<div class="panel-heading" style="text-align:center;">
					<h6 class="panel-title">Recent Products</h6>
				</div>
				<table class="table table-hover" id="dev-table">
					<thead>
					<tr>
						<th>Name</th>
						<th>Manufacturer</th>
						<th>Amount</th>
						<th>Quantity</th>
					</tr>
					</thead>
				</table>
				</div>
			
				<div class="panel panel-primary col-md-5" style="margin-left:5%;">
				<div class="panel-heading" style="text-align:center;">
					<h6 class="panel-title">Recent Orders</h6>
				</div>
				<table class="table table-hover" id="dev-table">
					<thead>
					<tr>
						<th>Name of cutomer</th>
						<th>Items</th>
						<th>quantity</th>
						<th>Amount</th>
					</tr>
					</thead>
				</table>
				</div>
			</div>
		</div>
	</section>
</div>
