<p>admin-layout works</p>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<input type="checkbox" id="checkbox">

<header class="header">
	<h2 class="u-name">
		<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
		Supermarket Billing <b>Management</b>
	</h2>
	<i class="fa fa-user-o" aria-hidden="true"></i>
</header>

<div class="body">
	<nav class="side-bar">
		<div class="user-p">
			<img src="img/user.jpg">
			<h4>Hello  admin</h4>
		</div>
		<ul>
			<li>
				<a href="#">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-user-circle"></i>
					<span>Add Employee</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-users"></i>
					<span>View Employees</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-plus"></i>
					<span>Add new Product</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-window-restore"></i>
					<span>Inventory</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-opencart"></i>
					<span>Update Stock</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-area-chart"></i>
					<span>Sales</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-power-off" aria-hidden="true"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</nav> 
</div>