<p>employee works!</p>
<p>inventory works!</p>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
	
<input type="checkbox" id="checkbox">

<header class="header">
	<h2 class="u-name">
		<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
		Supermarket Billing <b>Management</b>
	</h2>
	<i class="fa fa-user-o" aria-hidden="true"></i>
</header>

<div class="body">
	<nav class="side-bar">
		<div class="user-p">
			<img src="../../../assets/admin.jpg">
			<h4>Hello  admin</h4>
		</div>
		<ul>
			<li>
				<a href="#">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-user-circle"></i>
					<span>Add Employee</span>
				</a>
			</li>
			<li>
				<a routerLink="/admin-dashboard">
					<i class="fa fa-users"></i>
					<span>View Employees</span>
				</a>
			</li>
			<li>
				<a routerLink="/add-product">
					<i class="fa fa-plus"></i>
					<span>Add Product</span>
				</a>
			</li>
			<li>
				<a routerLink="/inventory">
					<i class="fa fa-window-restore"></i>
					<span>Inventory</span>
				</a>
			</li>
			<li>
				<a routerLink="/admin-dashboard">
					<i class="fa fa-opencart"></i>
					<span>Update Stock</span>
				</a>
			</li>
			<li>
				<a routerLink="/admin-dashboard">
					<i class="fa fa-area-chart"></i>
					<span>Sales</span>
				</a>
			</li>
			<li>
				<a routerLink="/login">
					<i class="fa fa-power-off" aria-hidden="true"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</nav> 
	<section class="cards">

		<div class="inventory">
            <div class="heading">
                <h2><strong>Manage Employees</strong> <button class="btn btn-success btn-lg add">+ Add Employee</button></h2>
            </div>
        
            <div class="search">
                <label for="searchbox">
                    Search an Employee : &nbsp;  
                </label>
                <input type="search" id="#searchBox" [(ngModel)]="employeeId" placeholder="Enter Employee Id">
                <p>Employee to search has id : {{employeeId}}</p>
            </div>
        
            <div class="list">
                <table class="table table-hover table-bordered">
                    <thead>
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Work-Timings</th>
                        <th>Salary</th>
                        <th>Designation</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <td>201</td>
                        <td>Aman</td>
                        <td>25</td>
                        <td>aman_kumar@gmail.com</td>
                        <td>9:00 am - 5:00 pm</td>
                        <td>25000.00</td>
                        <td>Cashier</td>
                        <button class="btn btn-info btn-lg">Modify</button> &nbsp;
                        <button class="btn btn-danger btn-lg">Delete</button>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="text-center mb-3">
                    <h1>Add Employee</h1>
                    <h6>please add employee details</h6>
                </div>
                <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
                    <div class="mb-3">
                      <label for="Name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                      <label for="inputAge" class="form-label">Age</label>
                      <input type="age" class="form-control" id="age" [(ngModel)]="age" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label for="Name" class="form-label">Email</label>
                        <input type="text" class="form-control" id="Name" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label for="Name" class="form-label">salary</label>
                        <input type="text" class="form-control" id="Name" [(ngModel)]="salary" [ngModelOptions]="{standalone: true}">
                    </div>
                    <button type="submit" class="m-2">Submit</button>
                  </form>
            </div>
          </div>
	</section>
</div>
